AUTH_URL="http://localhost:4200"
AUTH_SECRET="some-amazing-seekret"

AUTH_SECRET='asfasfasfasfd'

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

DRIZZLE_DB_URL=""

NODE_ENV="development"

DB_URL="postgresql://<user_name>:<user_pass>@localhost:5432/<db_name>"

DB_HOST="localhost"
DB_PORT=5432
DB_USER="<user_name>"
DB_PASSWORD="<user_pass>"
DB_NAME="<db_name>"
DB_SSL=true
