
NODE_ENV="development"

DATABASE_URL="postgresql://<user_name>:<user_pass>@localhost:5432/<db_name>"

DB_HOST="localhost"
DB_PORT=5432
DB_USER="<user_name>"
DB_PASSWORD="<user_pass>"
DB_NAME="<db_name>"
DB_SSL=true
