.next
.turbo

/dist/
build/
**/node_modules
target/
coverage/
snapshot/
generated/

yarn.lock
pnpm-lock.yaml
package-lock.json
.yarn/*

**/*.map
**/*.gz
**/*.gz.map
**/*.gz.min.js
**/*.gz.min.css
**/*.gz.min.js.map
