.dark .main-layout {
  background-size: 200% 200%;
  background-position: 100% 0%, 0% 100%;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgb(81 42 143 / 50%) 0%,
      rgba(21, 25, 52, 0) 100%
    ),
    radial-gradient(
      57.58% 57.58% at 48.79% 42.42%,
      rgb(8 70 96 / 50%) 0%,
      rgba(46, 55, 114, 0) 63.22%
    );
  animation: gradient 60s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 100% 0%, 0% 100%;
  }
  50% {
    background-position: 0% 100%, 100% 0%;
  }
  100% {
    background-position: 100% 0%, 0% 100%;
  }
}
.gradients_glowConic {
  background: conic-gradient(
    from 85deg at 50% 50%,
    #9ad1ff 0deg,
    #a750ba 180deg,
    #ff6597 1turn
  );
}

.gradients_glow {
  mix-blend-mode: normal;
  filter: blur(75px);
  will-change: filter;
}

.gradients_glowSmall {
  filter: blur(32px);
}

.gradients_heroHeading {
  background: linear-gradient(180deg, #fff, #6290c5), #fff;
}
.light .gradients_heroHeading {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), #000);
}
.gradients_heroHeading,
.light .gradients_heroHeading {
  -webkit-background-clip: text;
  background-clip: text;
}
