@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --ws-background: '0 0% 100%';
    --ws-foreground: '222.2 47.4% 11.2%';
    --ws-primary: '222.2 47.4% 11.2%';
    --ws-primary-foreground: '210 40% 98%';
    --ws-secondary: '210 40% 96.1%';
    --ws-secondary-foreground: '222.2 47.4% 11.2%';
    --ws-accent: '210 40% 96.1%';
    --ws-accent-foreground: '222.2 47.4% 11.2%';
    --ws-warning: '0 100% 50%';
    --ws-warning-foreground: '210 40% 98%';
    --ws-error: '0 100% 50%';
    --ws-error-foreground: '0 0% 95%';
    --ws-success: '120 50% 40%';
    --ws-success-foreground: '0 0% 100%';
    --ws-information: '200 100% 35%';
    --ws-information-foreground: '0 0% 100%';
    --ws-muted: '210 40% 96.1%';
    --ws-muted-foreground: '215.4 16.3% 46.9%';
    --ws-popover: '0 0% 100%';
    --ws-popover-foreground: '222.2 47.4% 11.2%';
    --ws-card: '0 0% 100%';
    --ws-card-foreground: '222.2 47.4% 11.2%';
    --ws-border: '214.3 31.8% 91.4%';
    --ws-input: '214.3 31.8% 91.4%';
    --ws-ring: '215 20.2% 65.1%';
    --ws-radius: '0.5rem';
  }
}
