.theme-zinc {
  --background: #ffffff;
  --foreground: #080707;

  --primary: #1a0f10;
  --primary-foreground: #fcfcfc;

  --secondary: #eaeaea;
  --secondary-foreground: #1a0f10;

  --tertiary: #eaeaea;
  --tertiary-foreground: #1a0f10;

  --muted: #eaeaea;
  --muted-foreground: #383535;

  --card: #ffffff;
  --card-foreground: #080707;

  --popover: #ffffff;
  --popover-foreground: #080707;

  --border: #e3e3e3;
  --input: #e3e3e3;
  --ring: #1a0f10;
}

.dark .theme-zinc {
  --background: #080707;
  --foreground: #fcfcfc;

  --primary: #fcfcfc;
  --primary-foreground: #1a0f10;

  --secondary: #2e2c2e;
  --secondary-foreground: #fcfcfc;

  --tertiary: #2e2c2e;
  --tertiary-foreground: #fcfcfc;

  --muted: #2e2c2e;
  --muted-foreground: #a3a0a5;

  --card: #080707;
  --card-foreground: #fcfcfc;

  --popover: #080707;
  --popover-foreground: #fcfcfc;

  --border: #2e2c2e;
  --input: #2e2c2e;
  --ring: #d6d3d9;
}

.theme-slate {
  --background: #ffffff;
  --foreground: #1c0f5f;

  --primary: #23173c;
  --primary-foreground: #f5f7ff;

  --secondary: #f0f3fc;
  --secondary-foreground: #23173c;

  --tertiary: #f0f3fc;
  --tertiary-foreground: #23173c;

  --muted: #f0f3fc;
  --muted-foreground: #4c4a66;

  --card: #ffffff;
  --card-foreground: #1c0f5f;

  --popover: #ffffff;
  --popover-foreground: #1c0f5f;

  --border: #dfe2f4;
  --input: #dfe2f4;
  --ring: #1c0f5f;
}

.dark .theme-slate {
  --background: #1c0f5f;
  --foreground: #f5f7ff;

  --primary: #f5f7ff;
  --primary-foreground: #23173c;

  --secondary: #1a2833;
  --secondary-foreground: #f5f7ff;

  --tertiary: #1a2833;
  --tertiary-foreground: #f5f7ff;

  --muted: #1a2833;
  --muted-foreground: #8995a8;

  --card: #1c0f5f;
  --card-foreground: #f5f7ff;

  --popover: #1c0f5f;
  --popover-foreground: #f5f7ff;

  --border: #1a2833;
  --input: #1a2833;
  --ring: #d5e4f1;
}

.theme-stone {
  --background: #ffffff;
  --foreground: #2a1f1b;

  --primary: #382621;
  --primary-foreground: #fdfbf3;

  --secondary: #f2f0e7;
  --secondary-foreground: #382621;

  --tertiary: #f2f0e7;
  --tertiary-foreground: #382621;

  --muted: #f2f0e7;
  --muted-foreground: #73635d;

  --card: #ffffff;
  --card-foreground: #2a1f1b;

  --popover: #ffffff;
  --popover-foreground: #2a1f1b;

  --border: #e7dfdb;
  --input: #e7dfdb;
  --ring: #2a1f1b;
}

.dark .theme-stone {
  --background: #2a1f1b;
  --foreground: #faf5e6;

  --primary: #faf5e6;
  --primary-foreground: #382621;

  --secondary: #2d2927;
  --secondary-foreground: #faf5e6;

  --tertiary: #2d2927;
  --tertiary-foreground: #faf5e6;

  --muted: #2d2927;
  --muted-foreground: #7e6760;

  --card: #2a1f1b;
  --card-foreground: #faf5e6;

  --popover: #2a1f1b;
  --popover-foreground: #faf5e6;

  --border: #2d2927;
  --input: #2d2927;
  --ring: #856856;
}

.theme-brown {
  --background: #ffffff;
  --foreground: #4d3326;

  --primary: #664c3c;
  --primary-foreground: #f2ebe5;

  --secondary: #d9ccc0;
  --secondary-foreground: #332a26;

  --tertiary: #d9ccc0;
  --tertiary-foreground: #332a26;

  --muted: #c7b8ab;
  --muted-foreground: #4d3326;

  --card: #ffffff;
  --card-foreground: #4d3326;

  --popover: #f2ebe5;
  --popover-foreground: #4d3326;

  --border: #e7dfdb;
  --input: #e7dfdb;
  --ring: #664c3c;
}

.dark .theme-brown {
  --background: #0a0a0a;
  --foreground: #f2f2f2;

  --primary: #664c3c;
  --primary-foreground: #f2f2f2;

  --secondary: #333333;
  --secondary-foreground: #f2f2f2;

  --tertiary: #333333;
  --tertiary-foreground: #f2f2f2;

  --muted: #2d2927;
  --muted-foreground: #a28559;

  --card: #2a1f1b;
  --card-foreground: #f2f2f2;

  --popover: #0a0a0a;
  --popover-foreground: #f7f7f7;

  --border: #262626;
  --input: #262626;
  --ring: #664c3c;
}

.theme-gold {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --primary: #aa853d;
  --primary-foreground: #f7f7f7;

  --secondary: #b8894d;
  --secondary-foreground: #262626;

  --tertiary: #f5f5f5;
  --tertiary-foreground: #262626;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --card: #ffffff;
  --card-foreground: #0a0a0a;

  --popover: #ffffff;
  --popover-foreground: #0a0a0a;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #0a0a0a;
}

.dark .theme-gold {
  --background: #0a0a0a;
  --foreground: #f7f7f7;

  --primary: #aa853d;
  --primary-foreground: #262626;

  --secondary: #b8894d;
  --secondary-foreground: #f7f7f7;

  --tertiary: #262626;
  --tertiary-foreground: #f7f7f7;

  --muted: #262626;
  --muted-foreground: #a28559;

  --card: #0a0a0a;
  --card-foreground: #f7f7f7;

  --popover: #0a0a0a;
  --popover-foreground: #f7f7f7;

  --border: #262626;
  --input: #262626;
  --ring: #d6d6d6;
}

.theme-red {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --primary: #ff3e3e;
  --primary-foreground: #f5f5f5;

  --secondary: #f5f5f5;
  --secondary-foreground: #262626;

  --tertiary: #f5f5f5;
  --tertiary-foreground: #262626;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --card: #ffffff;
  --card-foreground: #0a0a0a;

  --popover: #ffffff;
  --popover-foreground: #0a0a0a;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #ff3e3e;
}

.dark .theme-red {
  --background: #0a0a0a;
  --foreground: #f7f7f7;

  --primary: #ff6666;
  --primary-foreground: #f5f5f5;

  --secondary: #262626;
  --secondary-foreground: #f7f7f7;

  --tertiary: #262626;
  --tertiary-foreground: #f7f7f7;

  --muted: #262626;
  --muted-foreground: #a28559;

  --card: #0a0a0a;
  --card-foreground: #f7f7f7;

  --popover: #0a0a0a;
  --popover-foreground: #f7f7f7;

  --border: #262626;
  --input: #262626;
  --ring: #ff6666;
}

.theme-rose {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --primary: #e12f7f;
  --primary-foreground: #ffebeb;

  --secondary: #f5f5f5;
  --secondary-foreground: #262626;

  --tertiary: #f5f5f5;
  --tertiary-foreground: #262626;

  --muted: #f5f5f5;
  --muted-foreground: #737373;

  --card: #ffffff;
  --card-foreground: #0a0a0a;

  --popover: #ffffff;
  --popover-foreground: #0a0a0a;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #e12f7f;
}

.dark .theme-rose {
  --background: #2d2626;
  --foreground: #f2f2f2;

  --primary: #e12f7f;
  --primary-foreground: #ffebeb;

  --secondary: #262626;
  --secondary-foreground: #f7f7f7;

  --tertiary: #1f1f1f;
  --tertiary-foreground: #f7f7f7;

  --muted: #262626;
  --muted-foreground: #7a5246;

  --card: #2d2626;
  --card-foreground: #f2f2f2;

  --popover: #0a0a0a;
  --popover-foreground: #f7f7f7;

  --border: #262626;
  --input: #262626;
  --ring: #e12f7f;
}

.theme-orange {
  --background: #ffffff;
  --foreground: #2d2626;

  --primary: #ff8c00;
  --primary-foreground: #ffebeb;

  --secondary: #262626;
  --secondary-foreground: #f2f2f2;

  --tertiary: #262626;
  --tertiary-foreground: #f2f2f2;

  --muted: #262626;
  --muted-foreground: #7a5246;

  --card: #ffffff;
  --card-foreground: #2d2626;

  --popover: #ffffff;
  --popover-foreground: #2d2626;

  --border: #332b2b;
  --input: #332b2b;
  --ring: #ff8c00;
}

.dark .theme-orange {
  --background: #2d2626;
  --foreground: #f2f2f2;

  --primary: #ff8c00;
  --primary-foreground: #f2f2f2;

  --secondary: #262626;
  --secondary-foreground: #f2f2f2;

  --tertiary: #262626;
  --tertiary-foreground: #f2f2f2;

  --muted: #262626;
  --muted-foreground: #7a5246;

  --card: #2d2626;
  --card-foreground: #f2f2f2;

  --popover: #2d2626;
  --popover-foreground: #f2f2f2;

  --border: #332b2b;
  --input: #332b2b;
  --ring: #ff8c00;
}

.theme-green {
  --background: #ffffff;
  --foreground: #f0f0f0;

  --primary: #49b140;
  --primary-foreground: #f0f0f0;

  --secondary: #f0f0f0;
  --secondary-foreground: #1e1e1f;

  --tertiary: #f0f0f0;
  --tertiary-foreground: #1e1e1f;

  --muted: #f0f0f0;
  --muted-foreground: #a1a1a2;

  --card: #ffffff;
  --card-foreground: #f0f0f0;

  --popover: #ffffff;
  --popover-foreground: #f0f0f0;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #49b140;
}

.dark .theme-green {
  --background: #2e2e2f;
  --foreground: #f2f2f2;

  --primary: #5bbd63;
  --primary-foreground: #2e2e2f;

  --secondary: #3c3c3d;
  --secondary-foreground: #f2f2f2;

  --tertiary: #1e1e1f;
  --tertiary-foreground: #f2f2f2;

  --muted: #2e2e2f;
  --muted-foreground: #a1a1a2;

  --card: #2e2e2f;
  --card-foreground: #f2f2f2;

  --popover: #040404;
  --popover-foreground: #f2f2f2;

  --border: #3c3c3d;
  --input: #3c3c3d;
  --ring: #5cbe4a;
}

.theme-blue {
  --background: #ffffff;
  --foreground: #39415d;

  --primary: #2d85e4;
  --primary-foreground: #36c9f0;

  --secondary: #36c9f0;
  --secondary-foreground: #39415d;

  --tertiary: #36c9f0;
  --tertiary-foreground: #39415d;

  --muted: #36c9f0;
  --muted-foreground: #7ea1b0;

  --card: #ffffff;
  --card-foreground: #39415d;

  --popover: #ffffff;
  --popover-foreground: #39415d;

  --border: #4a78ad;
  --input: #4a78ad;
  --ring: #2d85e4;
}

.dark .theme-blue {
  --background: #39415d;
  --foreground: #36c9f0;

  --primary: #1b6be0;
  --primary-foreground: #39415d;

  --secondary: #39415d;
  --secondary-foreground: #36c9f0;

  --tertiary: #39415d;
  --tertiary-foreground: #36c9f0;

  --muted: #39415d;
  --muted-foreground: #5694ab;

  --card: #39415d;
  --card-foreground: #36c9f0;

  --popover: #39415d;
  --popover-foreground: #36c9f0;

  --border: #39415d;
  --input: #39415d;
  --ring: #2256c1;
}

.theme-yellow {
  --background: #ffffff;
  --foreground: #302c27;

  --primary: #ffec00;
  --primary-foreground: #3eaa24;

  --secondary: #ffec00;
  --secondary-foreground: #302c27;

  --tertiary: #ffec00;
  --tertiary-foreground: #302c27;

  --muted: #ffec00;
  --muted-foreground: #adafae;

  --card: #ffffff;
  --card-foreground: #302c27;

  --popover: #ffffff;
  --popover-foreground: #302c27;

  --border: #ccc8bf;
  --input: #ccc8bf;
  --ring: #302c27;
}

.dark .theme-yellow {
  --background: #302c27;
  --foreground: #f4f4f4;

  --primary: #ffec00;
  --primary-foreground: #23670e;

  --secondary: #1e1e1e;
  --secondary-foreground: #f4f4f4;

  --tertiary: #1e1e1e;
  --tertiary-foreground: #f4f4f4;

  --muted: #1e1e1e;
  --muted-foreground: #3e5b9f;

  --card: #302c27;
  --card-foreground: #f4f4f4;

  --popover: #302c27;
  --popover-foreground: #f4f4f4;

  --border: #1e1e1e;
  --input: #1e1e1e;
  --ring: #59444e;
}

.theme-violet {
  --background: #ffffff;
  --foreground: #3f0d88;

  --primary: #9f51ff;
  --primary-foreground: #3514fa;

  --secondary: #2c2c54;
  --secondary-foreground: #f4f4f4;

  --tertiary: #2c2c54;
  --tertiary-foreground: #f4f4f4;

  --muted: #2c2c54;
  --muted-foreground: #6d5a8e;

  --card: #ffffff;
  --card-foreground: #3f0d88;

  --popover: #ffffff;
  --popover-foreground: #3f0d88;

  --border: #28286d;
  --input: #28286d;
  --ring: #ab60ff;
}
.dark .theme-violet {
  --background: #3f0d88;
  --foreground: #d4d4d4;

  --primary: #a870cc;
  --primary-foreground: #d4d4d4;

  --secondary: #2c2c54;
  --secondary-foreground: #d4d4d4;

  --tertiary: #2c2c54;
  --tertiary-foreground: #d4d4d4;

  --muted: #2c2c54;
  --muted-foreground: #b0a1c6;

  --card: #3f0d88;
  --card-foreground: #d4d4d4;

  --popover: #3f0d88;
  --popover-foreground: #d4d4d4;

  --border: #2c2c54;
  --input: #2c2c54;
  --ring: #a870cc;
}
