@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0, 0%, 100%;
    --color-foreground: 222.2, 47.4%, 11.2%;
    --color-primary: 222.2, 47.4%, 11.2%;
    --color-primary-foreground: 210, 40%, 98%;
    --color-secondary: 210, 40%, 96.1%;
    --color-secondary-foreground: 222.2, 47.4%, 11.2%;
    --color-accent: 210, 40%, 96.1%;
    --color-accent-foreground: 222.2, 47.4%, 11.2%;
    --color-warning: 0, 100%, 50%;
    --color-warning-foreground: 210, 40%, 98%;
    --color-error: 0, 100%, 50%;
    --color-error-foreground: 0, 0%, 95%;
    --color-success: 120, 50%, 40%;
    --color-success-foreground: 0, 0%, 100%;
    --color-information: 200, 100%, 35%;
    --color-information-foreground: 0, 0%, 100%;
    --color-muted: 210, 40%, 96.1%;
    --color-muted-foreground: 215.4, 16.3%, 46.9%;
    --color-popover: 0, 0%, 100%;
    --color-popover-foreground: 222.2, 47.4%, 11.2%;
    --color-card: 0, 0%, 100%;
    --color-card-foreground: 222.2, 47.4%, 11.2%;
    --color-border: 214.3, 31.8%, 91.4%;
    --color-input: 214.3, 31.8%, 91.4%;
    --color-ring: 215, 20.2%, 65.1%;
  }

  .dark {
    --color-background: 224, 71%, 4%;
    --color-foreground: 0, 0%, 95%;
    --color-primary: 222.2, 47.4%, 70%;
    --color-primary-foreground: 0, 0%, 100%;
    --color-secondary: 210, 40%, 60%;
    --color-secondary-foreground: 0, 0%, 100%;
    --color-accent: 210, 40%, 60%;
    --color-accent-foreground: 0, 0%, 100%;
    --color-warning: 36, 100%, 50%;
    --color-warning-foreground: 0, 0%, 100%;
    --color-error: 0, 100%, 50%;
    --color-error-foreground: 0, 0%, 95%;
    --color-success: 120, 50%, 40%;
    --color-success-foreground: 0, 0%, 100%;
    --color-information: 200, 100%, 35%;
    --color-information-foreground: 0, 0%, 100%;
    --color-muted: 210, 20%, 20%;
    --color-muted-foreground: 215.4, 16.3%, 70%;
    --color-popover: 224, 71%, 4%;
    --color-popover-foreground: 0, 0%, 95%;
    --color-card: 224, 71%, 15%;
    --color-card-foreground: 0, 0%, 95%;
    --color-border: 210, 40%, 40%;
    --color-input: 210, 40%, 40%;
    --color-ring: 215, 20.2%, 45%;
    --color-radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
